/* style.css */

@charset 
"utf-8";

h1 {
    text-align: center
}
h2 {
    font-size: 150%
}
body {
    border-top: 20px solid lightgrey;
    border-right: 20px solid lightgrey;
    border-bottom: 20px solid lightgrey;
    border-left: 20px solid lightgrey;
    margin: 10px;
    }
p {
    color: red;
}

p2 {
    color: blue;
}

p3 {
    color: rgb(0, 211, 51);
}

p4 {
    font-size: 200%;
}

p5 {
    font-size: 75%;
}

p.center {
    color: black;
    text-align: center;
}

p7 {
    font-weight: bold;
}

p8 {
    font-family: "Courier New";
}

#para9 {
    color: orange;
    font-size: 200%;
    font-weight: bold;
}

.styledFont {
    color: rgb(0, 211, 51);
}

img {
    border-width: 10px;
    border-style: solid;
    color: orange;
}

h2, body, p, p2, p3, p4, p5, p6, p7, p8, p10, .styledFont, img {margin-left: 5px;
}